<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm a guy who's fascinated by data science and visualization since I had an epiphany two year ago while taking a data analysis class. This realization led me to a realization that my hightly analytical mind and habit of scientific thinking, along with my excellent understanding of statistics gives me a great advantage in the field of data. I have devoted myself to develope a relevant dataset since then, and continue to do so. You may<a href="#" target="https://nachiketmparanjape.github.io/blog/">explore my projects.</a></p>
</div><!--//summary-->
</section><!--//section-->
