<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <style>

p {
    text-align: justify;
}

</style>
    <p>I'm a guy who's fascinated by data science and visualization since I had an epiphany two years ago while taking a data analysis class. It led me to a realization that my analytical mind and habit of scientific thinking, along with my excellent understanding of statistics gives me a great advantage in the field of data. I have devoted myself to develope a relevant dataset since then, and continue to do so.</p>
</div><!--//summary-->
</section><!--//section-->
