<div class="education-container container-block">
<h2 class="container-block-title">Online Coursework</h2>
<div class="item">
    <h4 class="degree">Deep Learning Specialization</h4>
    <h5 class="meta">Coursera - deeplearning.ai</h5>
    <div class="time">2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Data Science Career Track</h4>
    <h5 class="meta">Springboard</h5>
    <div class="time">2017</div>
</div><!--//item-->
</div><!--//education-container-->

<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Science in Engineering</h4>
    <h5 class="meta">University at Buffalo, SUNY</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Technology in Engineering</h4>
    <h5 class="meta">University of Pune, India</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
