<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Engineer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Nano Engineered Applications, Irvine</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <p>A start-up that makes IoT applicable gas nano-sensors by leveraging the power of big data and data science.</p>

                        <p>Responsibilities:</p>
<li>Oversaw daily activities of interns, handled daily meetings and reporting</li>
<li>Played key role in designing a relational database on a local server using MySQL to store the relevant data</li>
<li>Developed a complete data pipeline to automatically perform ETL</li>
<li>Automated the process of data ingestion, collection and storage with python</li>
<li>Designed a GUI to enable scientists to query the data effectively</li>
<li>Utilized Python (matplotlib, seaborn, bokeh) as well as Tableau to create visualizations, reports and dashboards</li>
<li>Implemented signal processing algorithms to reduce noise in the data</li>
                      </ul>
                     </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
