<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
      <p>My Projects - neatly seggregated according to the tools used.</p>
  </div><!--//intro-->
  
<style>
  
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
   
</style>

  
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Data Science</a></li>
        <li><a href="#tab2">Data Viz / Storytelling</a></li>
        <li><a href="#tab3">Web Development</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
          
         <div class="item">
          <span class="project-title"><a href="../blog/2017/01/05/Titanic">Titanic</a></span> - 
          <span class="project-tagline">Complete predictive analysis (Machine Learning) and competition submission including data cleaning, visualization and descriptive analysis.</span>
    </div><!--//item-->
                
    <div class="item">
          <span class="project-title"><a href="../blog/2017/03/03/Time-Series" target="_blank">Stocks</a></span> - 
          <span class="project-tagline"> Fetching real-time stock market data to build ARIMA model for time-series analysis. Descriptive statistics and a tableau dashboard.</span>
     </div><!--//item--> 
          
        </div>
 
        <div id="tab2" class="tab">
        
         <div class="item">
            <span class="project-title"><a href="../blog/2016/12/09/Segmentation-Imaginary-Bank">Bank Demographics</a></span> - 
            <span class="project-tagline">A sample project to show TABLEAU skills. An exploration and interactive report generation for the geographical and demographic data of a bank</span>
    </div><!--//item-->
                
    <div class="item">
            <span class="project-title"><a href="../blog/2016/12/27/Evolution-of-the-world" target="_blank">Homage to Dr. Hans Rosling</a></span> - 
            <span class="project-tagline"> My attempt at imitating the visualizations from Hans Rosling's TED talk. He has always been an inspiration.</span>
    </div><!--//item--> 
          
    <div class="item">
            <span class="project-title"><a href="../blog/2016/12/08/Target-Analysis" target="_blank">Target Analysis</a></span> - 
            <span class="project-tagline"> This is an exercise that uses data joining and blending to combine multiple datasets to gain insights on the targets of 3 departments in a store.</span>
    </div><!--//item--> 
          
        </div>
      
      
     <div id="tab3" class="tab">
        
         <div class="item">
            <span class="project-title"><a href="/cv/#">LEAN Web Development</a></span> - 
            <span class="project-tagline">Built two web applications. Implemented MVC design pattern, web services, REST web APIs and used Passport for authentication. Dynamic and Responsive Web Pages using MEAN (MongoDB, Express, AngularJS, NodeJS.</span>
    </div><!--//item-->
                
    <div class="item">
            <span class="project-title"><a href="https://github.com/nachiketmparanjape/Blob-Website" target="_blank">Blog Website</a></span> - 
            <span class="project-tagline"> Designed a blog website using Python (Flask) to create 3 resource based REST APIs – user, blog and post. Built the website using HTML5, CSS3 and JQuery. </span>
    </div><!--//item-->
          
        </div>
 
       
    </div>
</div>

                
</section><!--//section-->
