<script type="text/javascript" src="script.js"></script>
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
      <p>My Projects - neatly seggregated according to the tools used.</p>
  </div><!--//intro-->
  
<style>
  
body { font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
div.tabContent.hide { display: none; }
   
</style>
  

  
<ul id="tabs">
  <li><a href="#python">Python</a></li>
  <li><a href="#tableau">Tableau</a></li>
</ul>
  
<div class="tabContent" id="python">
  <h2>Python</h2>
  <div>
    
    <div class="item">
          <span class="project-title"><a href="../blog/2017/01/05/Titanic">Titanic</a></span> - 
          <span class="project-tagline">Complete predictive analysis (Machine Learning) and competition submission including data cleaning, visualization and descriptive analysis.</span>
    </div><!--//item-->
                
    <div class="item">
          <span class="project-title"><a href="../blog/2017/03/03/Time-Series" target="_blank">Stocks</a></span> - 
          <span class="project-tagline"> Fetching real-time stock market data to build ARIMA model for time-series analysis. Descriptive statistics and a tableau dashboard.</span>
     </div><!--//item-->
    
    
  </div>
</div>
  
<div class="tabContent" id="tableau">
  <h2>Tableau</h2>
  <div>
    
    <div class="item">
            <span class="project-title"><a href="../blog/2016/12/09/Segmentation-Imaginary-Bank">Bank Demographics</a></span> - 
            <span class="project-tagline">A sample project to show TABLEAU skills. An exploration and interactive report generation for the geographical and demographic data of a bank</span>
    </div><!--//item-->
                
    <div class="item">
            <span class="project-title"><a href="../blog/2016/12/27/Evolution-of-the-world" target="_blank">Homage to Dr. Hans Rosling</a></span> - 
            <span class="project-tagline"> My attempt at imitating the visualizations from Hans Rosling's TED talk. He has always been an inspiration.</span>
    </div><!--//item-->
    
    
  </div>
</div>

                
</section><!--//section-->
