<section class="section projects-section">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <script src="script.js"></script>
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
      <p>Here is a sample-list of the projects I have started / completed so far. For a more comprehensive list in a blog format - check <a href ='../blog/'> THIS</a> place</p>
    </div><!--//intro-->
        
        
            <div class="item">
                    <span class="project-title"><a href="../blog/2016/12/09/Segmentation-Imaginary-Bank">Bank Demographics</a></span> - 
                    <span class="project-tagline">A sample project to show TABLEAU skills. An exploration and interactive report generation for the geographical and demographic data of a bank</span>
            </div><!--//item-->
                
            <div class="item">
                    <span class="project-title"><a href="../blog/2017/01/05/Titanic">Titanic</a></span> - 
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
            </div><!--//item-->
                
            <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - 
                    <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
            </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
      
       
</section><!--//section-->
