---
layout: cv_compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
    <nav>
        <ul>
            <li><a href="/  ">Home</a><a href="/about   ">About</a><a href="/cv ">CV</a><a href="/blog  ">Blog</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

