<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		</head>
		<body>
			<nav>
	    		
	        		<li><a href="/	">Home</a>	<a href="/about	">About</a>	<a href="/cv	">CV</a>	<a href="/blog">Blog</a></li>
	    		
			</nav>
  {% include head.html %}

  

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	{% include googleanalytics.html %}
  </body>

</html>
