<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nachiketm.paranjape@hotmail.com">email</a></li>
	        		<li><a href="https://www.facebook.com/Nachiket.11">facebook</a></li>
              			<li><a href="https://www.instagram.com/nachiketparanjape/">instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
